@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    background: scroll;
    box-sizing: border-box;
    /* background-image: url('assets/background\ image.png'); */
    background-size: cover;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url('assets/background\ image.png');
}

.tabs {
    display: none;
}

.hamburger {
    display: none;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* <-- logo left, nav right */
    background-color: transparent;
    transition: background-color 1s ease;
    width: 100%;
}

.navbar.invisible {
    background-color: rgb(0, 33, 65);
    z-index: 100;
}


.nav-item a {
    color: white;
    /* always visible */
    transition: color 1s ease;
    text-decoration: none;
}


.nav-list {
    list-style-type: none;
    position: relative;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    font-size: larger;
    text-align: right;
    align-items: center;
    margin-right: 3vw;
    /* color: aliceblue; */
}

.logo1 {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 3vw;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header {
    text-align: center;
    padding: 11vh 27vw;
}

/* .center-line {
        width: 100%;
        margin: 30px 0;
    }

    .center-line svg {
        width: 100%;
        height: 80px;
        display: block;
        filter: drop-shadow(0 0 6px #00e5ff) drop-shadow(0 0 12px rgba(0, 229, 255, 0.7));
    } */

.center-line path {
    stroke-linecap: round;
}

.para {
    /* font-size: xx-large; */
    margin-top: 10px;
}

.blue-line {
    /* margin-top: -37px; */
    width: 55vw;

}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.project-image {
    width: 25px;
    height: auto;
    margin-left: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 5vw;
    margin: 130px 90px;
}

.project-box-main {
    width: 30vw;
    height: 17vh;
    border-radius: 15px;
    border: 3px solid rgba(0, 204, 255, 0.452);
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url('assets/projects\ \ background.jpeg');

    background-size: cover;
    background-position: center;
}

.project-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 0 15px;
}

.project-button {
    margin-top: 3vw;
    margin-left: 1vw;
    /* margin-bottom: 2vh; */
    /* margin-right: 5vw; */
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 204, 255, 0.452);
    background-color: transparent;
    color: rgb(175, 239, 255);
    font-size: medium;
    cursor: pointer;
    /* width: 130px; */

}

.Skills-button {
    margin-top: 3vw;
    margin-left: 1vw;
    /* margin-bottom: 2vh; */
    /* margin-right: 5vw; */
    padding: 8px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 204, 255, 0.452);
    background-color: transparent;
    color: rgb(175, 239, 255);
    font-size: medium;
    cursor: pointer;
    /* width: 130px; */

}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 50px 20px;
    }

    .project-box-main {
        width: 80vw;
        height: auto;
    }

    .project-button {
        margin-top: 5vh;
        margin-left: 5vw;
        margin-bottom: 3vh;
    }

    .Skills-button {
        margin-top: 5vh;
        margin-left: 5vw;
        margin-bottom: 3vh;
    }

    .header {
        padding: 10vh 10vw;
    }

    .nav-list {
        display: none;
    }

    /* .hamburger-div{
        width: fit-content;
        height: fit-content;
    }
    .hamburger {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 20px;
        filter: invert();
    }

    .tabs {
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 100%;
        height: 80vh;
        overflow-y: none;
    }

    .nav-list-mobile {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 8vh;
        padding: 40% 0;
        font-size: xx-large;
        text-decoration: none;
    } */

    /* Tabs (hidden by default) */
.tabs {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8vh;
    padding: 30vw 0;
    font-size: 7vw;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%); /* shift left by 50% of width to truly center */
    width: 80%;
    height: 140vw;
    background: rgba(0, 80, 100, 0.829);
    backdrop-filter: blur(3px);
    text-align: center;
    align-items: center;
    transition: top 0.4s ease;
}

}
.tabs-parent {
    display: flex;
    justify-content: center;
}

.tabs.active {
    top: 80px; /* below navbar */
}

/* Hamburger icon */
.hamburger {
    display: block;
    width: 30px;
    height: 22px;
    cursor: pointer;
    position: relative;
    margin-top: -30px;
}

.hamburger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    left: 0;
    transition: 0.3s;
}

.hamburger span:nth-child(1) { top: 0; }
.hamburger span:nth-child(2) { top: 9px; }
.hamburger span:nth-child(3) { top: 18px; }

/* Cross (close) state */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
}


}